@import "normalize/import-now";
@import "animate";
@import "icomoon";
@import "util";
@import "mixins";
@import "grid";
@import "variables";

body {
	color: $black;
	font-family: 'Source Sans Pro', Cambria, Georgia, Times, "Times New Roman", serif;
}

h1, h2, h3, h4 {
	font-family: Montserrat, "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

h2 {
	letter-spacing: 3px;
}

a, a:visited {
	color: $background2;
}

img {
	height: auto;
	max-width: 100%;
}

textarea, input {
  -webkit-appearance: none;
  border-radius: 0;

  &:focus {
  	outline: 0;
  }
}

/*
 * Parallax
 */

.page-header {
	left: 0;
	overflow: hidden;
	position: absolute;
	height: 100vh;
	top: 0;
	width: 100%;
	z-index: 0;

	.page-header-bg {
		background-size: cover;
	  background-position: center center;
	  background-image: url('img/header.jpg');
		height: 100%;
		left: 0;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	.page-header-content {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		text-align: center;
	}
}

.page-header-clear {
	height: $intro_height_mobile;
	position: relative;
	z-index: -2;

	@media (min-width: 768px) {
	  height: $intro_height;
	}
}

.container {
	margin: 0 auto;

	@media (min-width: 768px) {
	  width: 750px;
	}
	@media (min-width: 992px) {
	  width: 970px;
	}
	@media (min-width: 1200px) {
	  width: 1170px;
	}
}

a.btn, input.btn {
	color: $darkgray;
	display: block;
	font-size: 0.85rem;
	font-weight: bold;
	font-family: Montserrat, sans-serif;
	margin: 10px auto;
	width: auto;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

section {
	margin: 0 auto;
	padding: 50px 20px 100px;
	position: relative;
	z-index: 10;

	@media (min-width: 768px) {
		padding: 80px 0 160px;
	}

	&:last-of-type {
		padding-bottom: 50px;

		@media (min-width: 768px) {
			padding-bottom: 80px;
		}
	}

	h2 {
		color: $darkgray;
		margin: 0 auto 40px;
		padding: 0;
		text-align: center;

		@media (min-width: 768px) {
			margin: 0 auto 70px;
		}

		&:after {
			background: $gray;
			content: " ";
			display: block;
			height: 2px;
			margin: 10px auto 0;
			width: 50px;
		}
	}

	h3 {
		color: $darkgray;

		&.line {
			margin-bottom: 20px;

			&:after {
				background: $gray;
				content: " ";
				display: block;
				height: 2px;
				margin: 10px 0 0;
				width: 50px;
			}
		}
	}

	.subtitle {
		font-size: 1.15rem;
		text-align: center;
		margin: 0 auto 20px;

		@media (min-width: 768px) {
			max-width: 550px;
			margin: 0 auto 90px;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			line-height: 120%;
			margin: 0;
			padding: 0;

			ul {
				margin: 5px 0 1em 15px;
				list-style: circle;
			}
		}
	}

	p {
		line-height: 120%;
	}

	> .container {
		> .row {
			> .col-sm-6:last-of-type {
				margin-top: 50px;

				@media (min-width: 768px) {
					margin-top: 0;
				}
			}
		}
	}
}

#hello {
	background: transparent;
	position: relative;
	text-align: center;
	height: $intro_height_mobile;

	@media (min-width: 768px) {
		height: $intro_height;
	}

	.name-tag {
	  background: #fff;
	  border-radius: 10px;
	  font-family: Helvetica;
	  height: 180px;
		left: 50%;
		margin: -90px 0 0 -150px;
	  position: absolute;
	  top: 50%;
	  width: 300px;
	  transform: rotate(-3deg);

	  .topbar {
	    background: #0E9BD6;
	    text-align: center;
	    color: #fff;
	    padding: 5px;
	    border: 5px solid #fff;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;

	    .hello {
	      font-weight: 600;
	      font-size: 33px;
	      letter-spacing: 10px;
	    }

	    .my-name-is {
	      font-size: 16px;
	      font-weight: 200;
	      letter-spacing: 1px;
	    }
	  }

	  .name {
	  	font: 350%/120% 'Gochi Hand', cursive;
	  }

	  .underbar {
	    position: absolute;
	    bottom: 5px;
	    left: 5px;
	    height: 34px;
	    width: 290px;
	    top: 140px;
	    background: #0E9BD6;
	    border-bottom-left-radius: 6px;
	    border-bottom-right-radius: 6px;
	  }
	}
}

#about {
	@extend .bg-white;
	@include negative-css-triangle(top, 50%, 300px, 70px, $extralight);

	@media (min-width: 768px) {
		@include negative-css-triangle(top, 50%, 700px, 100px, $extralight);
	}

	@media (min-width: 992px) {
		@include negative-css-triangle(top, 50%, 900px, 100px, $extralight);
	}

	@media (min-width: 1200px) {
		@include negative-css-triangle(top, 50%, 1200px, 100px, $extralight);
	}

	ul {
		li {
			margin-bottom: 5px;
		}
	}
}

#portfolio {
	@extend .bg-blue;
	color: $light;

	.timeline-item {
	  padding: 12px;

	  margin: 0 auto;
	  max-width: 84%;
	  min-height: 200px;

	  .animated-background {
	    animation-duration: 1s;
	    animation-fill-mode: forwards;
	    animation-iteration-count: infinite;
	    animation-name: placeHolderShimmer;
	    animation-timing-function: linear;
	    background: #f6f7f8;
	    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	    background-size: 800px 104px;
	    height: 96px;
	    position: relative;

	    .background-masker {
	      background: $background1;
	      position: absolute;
	    }

	    /* Every thing below this is just positioning */

	    .background-masker.header-top,
	    .background-masker.header-bottom,
	    .background-masker.subheader-bottom {
	      top: 0;
	      left: 40%;
	      right: 0;
	      height: 10px;
	    }

	    .background-masker.header-left,
	    .background-masker.subheader-left,
	    .background-masker.header-right,
	    .background-masker.subheader-right {
	      top: 10px;
	      left: 40%;
	      height: 8px;
	      width: 10px;
	    }

	    .background-masker.header-bottom {
	      top: 18px;
	      height: 6px;
	    }

	    .background-masker.subheader-left,
	    .background-masker.subheader-right {
	      top: 24px;
	      height: 6px;
	    }


	    .background-masker.header-right,
	    .background-masker.subheader-right {
	      width: auto;
	      left: 55%;
	      right: 0;
	    }

	    .background-masker.subheader-right {
	      left: 55%;
	    }

	    .background-masker.subheader-bottom {
	      top: 30px;
	      height: 10px;
	    }

	    .background-masker.content-top,
	    .background-masker.content-second-line,
	    .background-masker.content-third-line,
	    .background-masker.content-second-end,
	    .background-masker.content-third-end,
	    .background-masker.content-first-end {
	      top: 40px;
	      left: 0;
	      right: 0;
	      height: 6px;
	    }

	    .background-masker.content-top {
	      height: 20px;
	      left: 40%;
	    }

	    .background-masker.content-first-end,
	    .background-masker.content-second-end,
	    .background-masker.content-third-end{
	      width: auto;
	      left: 60%;
	      right: 0;
	      top: 60px;
	      height: 8px;
	    }

	    .background-masker.content-second-line  {
	      top: 68px;
	    }

	    .background-masker.content-second-end {
	      left: 60%;
	      top: 74px;
	    }

	    .background-masker.content-third-line {
	      top: 82px;
	    }

	    .background-masker.content-third-end {
	      left: 55%;
	      top: 88px;
	    }
	  }
	}

	.row {
		margin: 25px -15px;

		h3 {
			margin: 0;
			padding: 15px 0;
		}

		.type {
			color: $gray;
			display: block;
			font-size: 0.85rem;
			font-weight: bold;
			margin: 0;
			text-transform: uppercase;
		}

		.content {
			margin: 0;
			padding: 10px 0;
		}

		.links {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 10px 0;

			.btn {
				display: inline-block;
				color: $light;
				font-family: 'Source Sans Pro', Cambria, Georgia, Times, "Times New Roman", serif;
				margin: 5px 0;
				text-align: center;

				span {
					font-size: 0.8rem;
					line-height: 0.8rem;
					margin-right: 5px;
				}
			}
		}
	}
}

#misc {
	@extend .bg-white;

	.btn {
		margin: 0 auto;
	}

	.video {
		height: 0;
		margin-bottom: 1em;
		position: relative;
		padding-bottom: 56.25%;

		iframe, video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

#contact {
	@extend .bg-blue;

	.list {
		display: table;
		margin: 0 auto;
	}

	ul {

		li {
			margin: 5px 0;

			&:first-of-type {
				margin-top: 0;
			}

			&:before {
				display: none;
			}

			a {
				color: $extralight;
				text-decoration: none;

				span {
					display: inline-block;
					height: 24px;
					line-height: 24px;
					margin-right: 5px;
					text-align: center;
					width: 24px;
				}
			}
		}
	}

	.contact-form {
		margin-top: 25px;

	  input, textarea {
	    background: transparent;
	    border: 0;
	    border-bottom: 1px solid $extralight;
	    color: $extralight;
	    font-size: 1rem;
	    padding: 0 5px 5px;
	    margin-bottom: 10px;
	    width: 100%;
	  }

	  textarea {
	  	height: 100px;
	  	transition: height 0.3s;
	  	width: 100%;
	  }

	  .btn {
	  	background: transparent;
	  	border: 0;
	  	font-size: 0.85rem;
	  	font-weight: bold;
	  	width: 30%;
	  }

	  .response {
	  	color: $light;
	  	text-align: center;
	  }
	}
}

@keyframes placeHolderShimmer{
	0%{
		background-position: -468px 0
	}
	100%{
		background-position: 468px 0
	}
}